## Homework 4 - Is there life after graduate school?

#### Ruiqi Zhang

#### Blog:  
https://ruiqi-zhang063.github.io  

#### Github repository
https://github.com/ruiqi-zhang063/ruiqi-zhang063.github.io

#### Description

This homework uses table 15.


Firstly, it uses openppyxl to obtain the indent in excel, then based on the indent to divide the hierarchical relationship in index.


The dashboard has three figures, one drop-down box and one time slider. The drop-down can choose male data, female data or total data,while the time slider can choose year. The first bar figure can show the doctorate recipents number by broad field this year. When we move the cursor to the histogram of a certain field, the second bar figure will show the subdivisions of doctorate recipents in this field, and the third line chart will show this field doctorate recipents every year.

#### Import packages

In [1]:
import os
import pandas as pd
from openpyxl import load_workbook
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')

<ipython-input-1-75e070478b71>:5: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
<ipython-input-1-75e070478b71>:6: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

#### See the first 5 rows of data

In [2]:
data = pd.read_excel('/Users/zhangruiqi/Desktop/course/BIOS823/homework-4/data_tables/sed17-sr-tab015.xlsx', skiprows = 3)
data.head()

,Sex and major field of study,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,% change 2008–17
0,All doctorate recipientsa,48777.0,49552.0,48029.0,48911.0,50944.0,52704.0,53992.0,54901.0,54862.0,54664.0,12.1
1,Life sciences,11086.0,11403.0,11319.0,11535.0,11964.0,12208.0,12484.0,12499.0,12554.0,12592.0,13.6
2,Agricultural sciences and natural resources,1198.0,1283.0,1100.0,1206.0,1255.0,1324.0,1338.0,1434.0,1381.0,1606.0,34.1
3,Biological and biomedical sciences,7797.0,8025.0,8046.0,8152.0,8322.0,8355.0,8868.0,8788.0,8873.0,8477.0,8.7
4,Health sciences,2091.0,2095.0,2173.0,2177.0,2387.0,2529.0,2278.0,2277.0,2300.0,2509.0,20.0

In [5]:
data.insert(5,'2007',0)
data

,Sex and major field of study,2008.0,2009.0,2010.0,2011.0,2007,2001,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,% change 2008–17
0,All doctorate recipientsa,48777.0,49552.0,48029.0,48911.0,0,0,50944.0,52704.0,53992.0,54901.0,54862.0,54664.0,12.1
1,Life sciences,11086.0,11403.0,11319.0,11535.0,0,0,11964.0,12208.0,12484.0,12499.0,12554.0,12592.0,13.6
2,Agricultural sciences and natural resources,1198.0,1283.0,1100.0,1206.0,0,0,1255.0,1324.0,1338.0,1434.0,1381.0,1606.0,34.1
3,Biological and biomedical sciences,7797.0,8025.0,8046.0,8152.0,0,0,8322.0,8355.0,8868.0,8788.0,8873.0,8477.0,8.7
4,Health sciences,2091.0,2095.0,2173.0,2177.0,0,0,2387.0,2529.0,2278.0,2277.0,2300.0,2509.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Otherb,1375.0,1385.0,1400.0,1400.0,0,0,1369.0,1543.0,1553.0,1558.0,1469.0,1713.0,24.6
131,Business management and administration,560.0,533.0,550.0,535.0,0,0,564.0,641.0,669.0,648.0,575.0,675.0,20.5
132,Communication,325.0,364.0,390.0,417.0,0,0,350.0,401.0,383.0,411.0,410.0,428.0,31.7
133,Non-S&E fields nec,490.0,488.0,460.0,448.0,0,0,455.0,501.0,501.0,499.0,480.0,610.0,24.5
134,Unknown field,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,4.0,0.0,0.0

In [12]:
for i in range(len(data)):
    data[i, '2007'] = 1

data

,Sex and major field of study,2008.0,2009.0,2010.0,2011.0,2007,2001,2012.0,2013.0,2014.0,...,"(125, 2007)","(126, 2007)","(127, 2007)","(128, 2007)","(129, 2007)","(130, 2007)","(131, 2007)","(132, 2007)","(133, 2007)","(134, 2007)"
0,All doctorate recipientsa,48777.0,49552.0,48029.0,48911.0,0,0,50944.0,52704.0,53992.0,...,1,1,1,1,1,1,1,1,1,1
1,Life sciences,11086.0,11403.0,11319.0,11535.0,0,0,11964.0,12208.0,12484.0,...,1,1,1,1,1,1,1,1,1,1
2,Agricultural sciences and natural resources,1198.0,1283.0,1100.0,1206.0,0,0,1255.0,1324.0,1338.0,...,1,1,1,1,1,1,1,1,1,1
3,Biological and biomedical sciences,7797.0,8025.0,8046.0,8152.0,0,0,8322.0,8355.0,8868.0,...,1,1,1,1,1,1,1,1,1,1
4,Health sciences,2091.0,2095.0,2173.0,2177.0,0,0,2387.0,2529.0,2278.0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Otherb,1375.0,1385.0,1400.0,1400.0,0,0,1369.0,1543.0,1553.0,...,1,1,1,1,1,1,1,1,1,1
131,Business management and administration,560.0,533.0,550.0,535.0,0,0,564.0,641.0,669.0,...,1,1,1,1,1,1,1,1,1,1
132,Communication,325.0,364.0,390.0,417.0,0,0,350.0,401.0,383.0,...,1,1,1,1,1,1,1,1,1,1
133,Non-S&E fields nec,490.0,488.0,460.0,448.0,0,0,455.0,501.0,501.0,...,1,1,1,1,1,1,1,1,1,1
134,Unknown field,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,1

We can see that the column "Sex and major field of study" has different levels. In original excel table, this level can be divided by indent. Therefore, we want to increase a column "indent" to indicate the hierarchical relationship.

#### The indent of data decides the index level, using openpyxl to obtain indent of the first column

In [3]:
worksheet = load_workbook('data_tables/sed17-sr-tab015.xlsx')['Table 15']
indent = []
for cell in worksheet['A'][4:]:
    indent.append(cell.alignment.indent)

#### Insert indent to dataframe and change the columns name to string

In [4]:
column_names = [index for index in data.columns]
column_names.insert(1, 'indent')
column_names.insert(1, 'Broad Field')
data_indent = data.reindex(columns = column_names)
data_indent['indent'] = indent
column_names = {year:str(int(year)) for year in column_names if type(year) == float}
column_names
data_indent = data_indent.rename(columns = column_names)

#### Divide data based on gender

In [5]:
data_indent_total = data_indent[:45].copy()
data_indent_male = data_indent[45:90].copy()
data_indent_female = data_indent[90:].copy()

#### Insert Broad Field to dataframe

In [6]:
temp = 'Na'
for i in data_indent_total.index:
    if data_indent_total['indent'][i] == 1:
        temp = data_indent_total['Sex and major field of study'][i]
    elif data_indent_total['indent'][i] == 2:
        data_indent_total['Broad Field'][i] = temp

for i in data_indent_male.index:
    if data_indent_male['indent'][i] == 2:
        temp = data_indent_male['Sex and major field of study'][i]
    elif data_indent_male['indent'][i] == 3:
        data_indent_male['Broad Field'][i] = temp
        
for i in data_indent_female.index:
    if data_indent_female['indent'][i] == 2:
        temp = data_indent_female['Sex and major field of study'][i]
    elif data_indent_female['indent'][i] == 3:
        data_indent_female['Broad Field'][i] = temp

#### Pandas Analysis

In [7]:
analysis_data = data_indent_total[data_indent_total['indent'] == 1].copy()
analysis_data.sort_values(by = '2008',ascending = False)

,Sex and major field of study,Broad Field,indent,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,% change 2008–17
1,Life sciences,NaN,1.0,11086.0,11403.0,11319.0,11535.0,11964.0,12208.0,12484.0,12499.0,12554.0,12592.0,13.6
19,Engineering,NaN,1.0,7864.0,7642.0,7578.0,8032.0,8469.0,9000.0,9627.0,9876.0,9458.0,9843.0,25.2
12,Psychology and social sciences,NaN,1.0,7635.0,7945.0,7883.0,8221.0,8498.0,8580.0,8751.0,9078.0,9060.0,9079.0,18.9
29,Education,NaN,1.0,6561.0,6528.0,5287.0,4670.0,4803.0,4934.0,4789.0,5098.0,5146.0,4823.0,-26.5
5,Physical sciences and earth sciences,NaN,1.0,4946.0,5160.0,4995.0,5271.0,5419.0,5584.0,5911.0,5918.0,6252.0,6081.0,22.9
35,Humanities and arts,NaN,1.0,4736.0,4904.0,5015.0,5226.0,5561.0,5715.0,5524.0,5594.0,5480.0,5290.0,11.7
9,Mathematics and computer sciences,NaN,1.0,3187.0,3163.0,3223.0,3273.0,3496.0,3660.0,3862.0,3818.0,3956.0,3843.0,20.6
40,Otherb,NaN,1.0,2762.0,2807.0,2729.0,2683.0,2734.0,3023.0,3044.0,3020.0,2956.0,3113.0,12.7

In [8]:
analysis_data.sort_values(by = '2017',ascending = False)

,Sex and major field of study,Broad Field,indent,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,% change 2008–17
1,Life sciences,NaN,1.0,11086.0,11403.0,11319.0,11535.0,11964.0,12208.0,12484.0,12499.0,12554.0,12592.0,13.6
19,Engineering,NaN,1.0,7864.0,7642.0,7578.0,8032.0,8469.0,9000.0,9627.0,9876.0,9458.0,9843.0,25.2
12,Psychology and social sciences,NaN,1.0,7635.0,7945.0,7883.0,8221.0,8498.0,8580.0,8751.0,9078.0,9060.0,9079.0,18.9
5,Physical sciences and earth sciences,NaN,1.0,4946.0,5160.0,4995.0,5271.0,5419.0,5584.0,5911.0,5918.0,6252.0,6081.0,22.9
35,Humanities and arts,NaN,1.0,4736.0,4904.0,5015.0,5226.0,5561.0,5715.0,5524.0,5594.0,5480.0,5290.0,11.7
29,Education,NaN,1.0,6561.0,6528.0,5287.0,4670.0,4803.0,4934.0,4789.0,5098.0,5146.0,4823.0,-26.5
9,Mathematics and computer sciences,NaN,1.0,3187.0,3163.0,3223.0,3273.0,3496.0,3660.0,3862.0,3818.0,3956.0,3843.0,20.6
40,Otherb,NaN,1.0,2762.0,2807.0,2729.0,2683.0,2734.0,3023.0,3044.0,3020.0,2956.0,3113.0,12.7

We can see that compared to 2008, there are less doctorate recipients in the field "Education" in 2017.

In [9]:
fields = list(analysis_data['Sex and major field of study'])
Rate_dict = {}
for field in fields:
    male_number = float(data_indent_male['2017'][data_indent_male['Sex and major field of study'] == field])
    female_number = float(data_indent_female['2017'][data_indent_female['Sex and major field of study'] == field])
    Rate_dict[field] = male_number / female_number
pd.DataFrame({'Field':Rate_dict.keys(),r'Rate (Male / Female)':Rate_dict.values()}).sort_values(by = r'Rate (Male / Female)',ascending = False)

                                  Field  Rate (Male / Female)
4                           Engineering              3.018382
2     Mathematics and computer sciences              2.936475
1  Physical sciences and earth sciences              2.022874
6                   Humanities and arts              0.953102
7                                Otherb              0.816696
0                         Life sciences              0.808997
3        Psychology and social sciences              0.686304
5                             Education              0.460909

We can see that in these fields, engineering has the highest rate, while education has the lowest rate.

#### Run the dashboard

In [ ]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

available_indicators = ['Total','Male','Female']

app.layout = html.Div([
    
    html.H1(
        children='Doctorate Recipients by Sex and Major Field',
        style={
            'textAlign': 'center'
        }
    ),
    
    html.Div([
        html.Div([
            dcc.Dropdown(
                id='Gender',
                options=[{'label': i, 'value': i} for i in available_indicators],
                value='Total'
            )
        ],
        style={'width': '49%', 'display': 'inline-block'}),
    ], style={
        'padding': '10px 5px'
    }),

    html.Div([
        'Doctorate Recipients by Broad Field',
        dcc.Graph(
            id='Broad-Field-Bar',
            hoverData={'points': [{'customdata': 'Engineering'}]}
        )
    ], style={'width': '49%', 'display': 'inline-block', 'padding': '0 20'}),
    
    html.Div([
        'Doctorate Recipients in Specific Field',
        dcc.Graph(id='Specific-Field-Bar'),
    ], style={'display': 'inline-block', 'width': '49%'}),
    
    html.Div(dcc.Slider(
        id='Year-Slider',
        min=2008,
        max=2017,
        value=2017,
        marks={str(year): str(year) for year in range(2008, 2018)},
        step=None
    ), style={'width': '49%', 'padding': '0px 20px 20px 20px'}),
    
    html.Div([
        'Doctorate Recipients Every Year in Broad Field',
        dcc.Graph(id='Time-Series'),
    ]),
])

@app.callback(
    dash.dependencies.Output('Broad-Field-Bar', 'figure'),
    [dash.dependencies.Input('Gender', 'value'),
     dash.dependencies.Input('Year-Slider', 'value')
    ])
def update_graph(Gender, Year):
    if Gender == 'Total':
        dff = data_indent_total[data_indent_total['indent'] == 1]
    elif Gender == 'Male':
        dff = data_indent_male[data_indent_male['indent'] == 2]
    else:
        dff = data_indent_female[data_indent_female['indent'] == 2]

    fig = px.bar(dff, x = 'Sex and major field of study', y = str(Year))

    fig.update_traces(customdata = dff['Sex and major field of study'])
    
    fig.update_xaxes(title = 'Broad Field')
    
    fig.update_yaxes(title='Doctorate Recipients Number')

    fig.update_layout(margin={'l': 40, 'b': 40, 't': 10, 'r': 0}, hovermode='closest')

    return fig

@app.callback(
    dash.dependencies.Output('Specific-Field-Bar', 'figure'),
    [dash.dependencies.Input('Broad-Field-Bar', 'hoverData'),
     dash.dependencies.Input('Gender', 'value'),
     dash.dependencies.Input('Year-Slider', 'value')
    ])
def update_Specific_Field_Bar(hoverData, Gender, Year):
    if Gender == 'Total':
        dff = data_indent_total[data_indent_total['Broad Field'] == hoverData['points'][0]['customdata']]
    elif Gender == 'Male':
        dff = data_indent_male[data_indent_male['Broad Field'] == hoverData['points'][0]['customdata']]
    else:
        dff = data_indent_female[data_indent_female['Broad Field'] == hoverData['points'][0]['customdata']]
    
    fig = px.bar(dff, x = 'Sex and major field of study', y = str(Year))
    
    fig.update_xaxes(title = 'Specific Field in ' + hoverData['points'][0]['customdata']) 
    
    fig.update_yaxes(title='Doctorate Recipients Number')

    return fig

@app.callback(
    dash.dependencies.Output('Time-Series', 'figure'),
    [dash.dependencies.Input('Broad-Field-Bar', 'hoverData'),
     dash.dependencies.Input('Gender', 'value'),
    ])

def create_time_series(hoverData, Gender):
    
    if Gender == 'Total':
        dff = data_indent_total[data_indent_total['indent'] == 1]
    elif Gender == 'Male':
        dff = data_indent_male[data_indent_male['indent'] == 2]
    else:
        dff = data_indent_female[data_indent_female['indent'] == 2]
        
    dff = dff[dff['Sex and major field of study'] == hoverData['points'][0]['customdata']]
    
    x = range(2008,2018)
    
    y = list(dff.iloc[0])[3:-1]

    fig = px.scatter(x = x, y = y)

    fig.update_traces(mode='lines+markers')

    fig.update_xaxes(showgrid=False)
    
    fig.update_xaxes(title = 'Year')
    
    fig.update_yaxes(title='Doctorate Recipients Number')
    
    fig.add_annotation(x=0, y=0.85, xanchor='left', yanchor='bottom',
                       xref='paper', yref='paper', showarrow=False, align='left', 
                       text = 'Doctorate Recipients Number in ' + hoverData['points'][0]['customdata'])

    return fig

if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET /_dash-component-suites/dash/dcc/async-slider.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:20] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Oct/2021 22:16:23] "POST /_dash-update-component HTTP/1.1" 200 -